@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #c5c5c5;
  font-family: "inter", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
  overflow-x: hidden;
}
.background {
  transition: all 0.5s;
  background-color: #ffffff;
}

nav {
  background: #1f1f1f;
}

nav ul {
  display: flex;
  list-style: none;
  width: 80vw;
  height: 75px;
  justify-content: end;
  align-items: center;
  gap: 5rem;
  margin: 0 auto;
}

nav ul a {
  color: #e6e5e5;
  font-size: large;
  cursor: pointer;
  transition: all 0.5s;
  text-decoration: none;
}

nav ul a:hover {
  color: #6d64d0;
  font-size: large;
  cursor: pointer;
  transition: all 0.5s;
}
.activeNav {
  color: #6d64d0 !important;
  opacity: 1 !important;
  font-weight: 600;
  cursor: default !important;
}
.menuPopUp {
  display: flex;
  width: 95vw;
  margin: 0 auto;
  justify-content: end;
  align-items: center;
  position: fixed;
  top: 8%;
  transition: all 0.5s;
  z-index: 21;
}

.navContainer {
  position: fixed;
  top: 2.5rem;
  right: 4rem;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  animation: morph 3s ease-in-out infinite;
  cursor: pointer;
}

.navContainer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #6d64d0;
  border-radius: 5%;
  z-index: -1;
  animation: Morph 5s infinite;
}

.navContainer span {
  width: 30px;
  height: 2px;
  position: relative;
  background: #1f1f1f;
}
.navContainer span::after {
  content: "";
  position: absolute;
  right: 0;
  width: 40px;
  height: 2px;
  transform: translateY(6px);
  background: #1f1f1f;
}

.navContainer:hover span::after,
.navContainer:hover span {
  width: 30px;
  transform: translateY(0) rotate(-90deg);
  background: #1f1f1f;
  transition: all 0.2s;
}

.navContainer:not(:hover) span {
  transform: rotate(0);
  transition: all 0.2s;
}
.nav-container {
  position: fixed;
  left: -100vw;
  top: -100vh;
  width: 100%;
  height: 100vh;
  background: #1f1f1f;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.activeNav {
  transition: all 0.5s;
  left: 0;
  top: 0;
}

.menu_item {
  position: relative;
  padding: 0 6vw;
  font-size: clamp(2rem, 18vw, 150px);
}

.menu_link {
  display: flex;
  cursor: pointer;
  position: relative;
  transition: opacity 0.5s;
  color: #e6e5e5;
  text-decoration: none;
}

.menu_link::before {
  content: "";
  width: 100%;
  height: 2px;
  background: #968fea;
  position: absolute;
  bottom: 45%;
  pointer-events: none;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s; /* Transition for hover effect */
}

.menu_link:hover::before {
  opacity: 1;
}

.menu_link:hover::after {
  transition-duration: 0.2s;
  transform: translateX(10%);
  transition: all 0.9s;
}
.menu_link:not(:hover)::after {
  transition-duration: 0.2s ease-in-out;
  transform: translateX(0);
  transition: all 0.9s;
}
.a,
.b,
.c,
.d,
.e {
  position: relative;
  z-index: 2;
}
.a::after,
.b::after,
.c::after,
.d::after,
.e::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 500vw;
  height: 100%;
  background: #1f1f1f;
  color: #968fea;
  z-index: 20;
}

.a::after {
  content: "HOME HOME HOME HOME HOME";
}
.b::after {
  content: "SERVICES SERVICES SERVICES SERVICES";
}
.c::after {
  content: "QUOTE QUOTE QUOTE QUOTE";
}
.d::after {
  content: "TESTIMONIAL TESTIMONIAL TESTIMONIAL";
}
.e::after {
  content: "CONTACT CONTACT CONTACT CONTACT";
}

.heroSection {
  background: #1f1f1f;
  width: 100%;
  margin: 0 auto;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.heroImage {
  background-image: url("My project(15)(1).png");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.heroSection h1 {
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 700;
  color: #e6e5e5;
}

.highlight {
  color: #6d64d0;
}

.heroSection p {
  font-size: clamp(1rem, 3vw, 1.2rem);
  font-weight: 500;
  color: #d4d4d3;
  line-height: 150%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.heroSection button {
  padding: 10px 20px;
  width: clamp(160px, 25vw, 200px);
  height: clamp(40px, 10vw, 50px);
  border: none;
  border-radius: 50px;
  color: #d4d4d3;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.heroSection a {
  text-decoration: none;
  color: #d4d4d3;
}
.heroSection .filled {
  background-color: #6d64d0;
}
.filled:hover a {
  color: #1f1f1f;
  transition: all 0.5s;
}

.heroSection .outline {
  margin-left: 1.5rem;
  background-color: #1f1f1f;
  color: #e6e5e5;
  border: 2px solid #6d64d0;
}

.heroSection button:hover {
  background-color: #6d64d0;
  color: #1f1f1f;
  transition: all 0.5s;
}

/* Lower Card for experience section */
.specialCardSection {
  width: 100%;
  height: 40vh;
}
.specialCard {
  position: relative;
  background-color: #363636;
  width: 75vw;
  margin: -80px auto;
  padding: 20px;
  border-radius: 10px;
  z-index: 5;
}

.specialCardText {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

.specialCardText h1 {
  color: #6d64d0;
  font-size: clamp(1.8rem, 5vw, 3rem);
}

.specialCardText p {
  color: #d4d4d3;
  font-size: clamp(0.8rem, 3vw, 1.1rem);
  font-weight: 500;
  line-height: 150%;
  text-align: center;
}
/* Main body section */

.mainSection {
  width: 70vw;
  margin: 0 auto;
  color: #1f1f1f;
}

.mainSection h1,
.testimonial h1 {
  font-size: clamp(1.8rem, 5vw, 3rem);
  margin-bottom: 2%;
}

.services,
.quote {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.serviceCards {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
}

.serviceCardA,
.serviceCardB {
  position: relative;
  margin-top: 4rem;
  background-color: #d4d4d3;
  height: 40vh;
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: start;
  white-space: normal;
}

.cardWrapper {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

.cardWrapper p {
  padding: 20px 0;
  line-height: 150%;
  font-size: clamp(1rem, 3vw, 1.1rem);
}

.cardWrapper a {
  padding: 10px 20px;
  color: #1f1f1f;
  text-decoration: none;
  font-weight: 500;
  font-size: clamp(0.8rem, 3vw, 1.1rem);
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  z-index: 2;
}

.serviceCardA:hover,
.serviceCardB:hover {
  background: #968fea;
  transition: all 0.5s;
}
.serviceCardA:hover .cardWrapper a,
.serviceCardB:hover .cardWrapper a {
  color: #d4d4d3;
  transition: all 0.5s;
}

.cardWrapper a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #1f1f1f;
  left: 0;
  bottom: 0;
  z-index: -1; /* Changed from 1 */
}

.serviceCardA:hover .cardWrapper a::before,
.serviceCardB:hover .cardWrapper a::before {
  height: 40px;
  transition: all 0.5s;
  z-index: -1;
}

.serviceCardA {
  color: #1f1f1f;
}

/*  Quote Section For quote machine */
.quote {
  height: 80vh;
  width: 70vw;
  margin: 0 auto;
}

.quote h1 {
  font-size: clamp(1.8rem, 5vw, 3rem);
  margin-bottom: 10%;
}

.quoteBox {
  width: 100%;
  margin: 0 auto;
  background: #1f1f1f;
  color: #968fea;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 10px;
  padding: 5% 10%;
  gap: 2rem;
  /* margin-bottom: 20%; */
}

.quoteContainer {
  grid-column: span 2;
}

.quoteContainer,
.priceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  width: 100%;
}

.quoteContainer label,
.priceContainer label {
  font-size: clamp(1rem, 3vw, 1.1rem);
  color: #968fea;
  margin-left: 3%;
}

#phone {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  padding: 10px;
  border: 3px solid #d4d4d3;
  background: #1f1f1f;
  color: #d4d4d3;
  border-radius: 50px;
  font-size: clamp(0.8rem, 3vw, 1.1rem);
}

#price {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  padding: 10px;
  border: 3px solid #d4d4d3;
  background: #1f1f1f;
  color: #d4d4d3;
  border-radius: 50px;
  font-size: clamp(0.8rem, 3vw, 1.1rem);
}

.priceContainer .highlight {
  font-size: 2rem;
  color: #968fea;
  font-weight: 700;
  margin-left: 3%;
}

.serviceCost {
  width: 80%;
  font-size: clamp(1rem, 3vw, 1.1rem);
  margin: 0 auto;
}

.quoteBox a {
  grid-column: span 3;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: none;
  background: #968fea;
  color: #363636;
  border-radius: 50px;
  font-size: clamp(0.8rem, 3vw, 1.1rem);
  cursor: pointer;
  margin-top: 20px;
  text-decoration: none;
}

.quoteBox a:hover {
  color: #363636;
  background: #d4d4d3;

  transition: all 0.5s;
}
/* Testimonial Section  */

.testimonial {
  width: 100%;
  height: 80vh;
}
.testimonialCards {
  width: 85vw;
  display: flex;
  float: right;
  height: 60vh;
  overflow: hidden;
  gap: 2rem;
  scroll-behavior: smooth;
}

.testimonialCard {
  margin: 0 auto;
  scroll-snap-align: center;
  width: 100%;
  min-width: 800px;
  height: 50vh;
  background-color: #d4d4d3;
  border-radius: 10px;
  gap: 2rem;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.testimonialCard:nth-child(4) {
  margin-right: 800px;
}
.testimonial h1 {
  width: 70vw;
  margin: 0 auto;
}
.testimonialButtons {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  gap: 2rem;
  margin-bottom: 2%;
}

.testimonialButton,
.testimonialButtonB {
  position: relative;
  border: none;
  background: #d4d4d3;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  gap: 2rem;
  cursor: pointer;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonialButtons svg {
  fill: #6d64d0;
}

.testimonialButton:hover svg,
.testimonialButtonB:hover svg {
  fill: #ffffff;
  transition: all 0.3s;
}
.active {
  background: #968fea;
}
.testimonialButton:hover,
.testimonialButtonB:hover {
  background: #968fea;
  transition: all 0.5s;
}

/* Contact Section */

.contact {
  width: 70vw;
  height: 80vh;
  margin: 5% auto;
  background: #1f1f1f;
  border-radius: 10px;
}

.contact h1 {
  width: 60vw;
  margin: 0 auto;
  padding: 30px 0;
  color: #d4d4d3;
  font-weight: 400;
  font-size: clamp(2rem, 5vw, 4rem);
  margin-bottom: 10%;
}
.contactButtons {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
  z-index: 2;
}
.contactButtons::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 3px;
  background: #968fea;
  left: 8%;
  z-index: 1;
}
.contactButtons a {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 80px;
  border-radius: 50px;
  border: #968fea solid 3px;
  color: #d4d4d3;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  background: #1f1f1f;
  z-index: 2;
  font-size: clamp(0.8rem, 3vw, 1.1rem);
}
.contactButtons a:hover {
  transition: 0.3s all;
  color: #1f1f1f;
  background: #968fea;
}
/* footer */

footer {
  width: 100%;
  height: 75px;
  background: #d4d4d3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerText {
  width: 100vw;
  margin: 0 auto;
  color: #1f1f1f;
  font-size: clamp(0.8rem, 3vw, 1rem);
  font-weight: 500;
  display: flex;
  justify-content: space-around;
}

.footerText .footerhighlight,
.footerText .footerhighlight a {
  color: #6d64d0;
  cursor: pointer;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  z-index: 2;
}
.footerhighlight:after,
.footerhighlight a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #6d64d0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.footerhighlight:hover,
.footerhighlight a:hover {
  position: relative;
  color: #d4d4d3;
  transition: all 0.5s;
}

.footerhighlight:hover:after {
  height: 20px;
  transition: all 0.5s;
}

/* Media Queries */

@media screen and (min-width: 1330px) {
  .hide {
    display: none;
    transition: all 0.5s;
  }
}
@media screen and (max-width: 1330px) {
  nav {
    display: none;
  }
  .navContainer {
    right: 1rem;
    width: 100px;
    height: 100px;
  }

  .heroImage {
    display: none;
  }
  .heroSection {
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
  }
  .specialCard {
    width: 100%;
  }
  .cardWrapper {
    height: 40vh;
  }
  .cardWrapper p {
    padding: 10px 0;
  }
  .quote {
    margin-top: 30%;
    /* margin: 20% 0; */
    display: flex;
    justify-content: start;
  }
  .quoteBox {
    grid-template-columns: 1fr;
  }
  .quoteContainer {
    grid-column: span 3;
  }
  .priceContainer {
    grid-column: span 3;
  }
  .testimonialCards {
    margin: 5% auto;
  }
  .testimonialCard:nth-child(4) {
    margin-right: 0;
  }
  .contactButtons {
    flex-direction: column;
  }
  .contact {
    width: 70vw;
  }
  .contactButtons::before {
    display: none;
  }
  .contactButtons a {
    width: 80%;
  }
  .hide {
    display: 100%;
  }
}

@media screen and (max-width: 800px) {
  .mainSection,
  .testimonial,
  .testimonial h1,
  .contact,
  .quote {
    width: 90vw;
    margin: 0 auto;
  }
  .navContainer {
    right: 1rem;
    width: 70px;
    height: 70px;
  }
  .contact {
    height: 70vh;
  }
  .contact h1 {
    width: 90%;
    padding: 20% 0;
  }
  .serviceCards {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    gap: 2rem;
    scroll-snap-type: x mandatory;
  }
  .serviceCardA,
  .serviceCardB {
    scroll-snap-align: start;
    scroll-behavior: smooth;
    background: #968fea;
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 5%;
  }
  .testimonialCards {
    width: 100%;
    scroll-snap-type: x mandatory;
    overflow: auto;
  }
  .testimonialButtons {
    display: none;
  }
  .testimonialCard {
    min-width: 90vw;
    background: #968fea;
  }
  .footerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@keyframes Morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 50%;
  }
  75% {
    border-radius: 40% 70% 40% 90%/50% 60% 40% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
